* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}
.logo {
  width: 100px;
}
.container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 240px;
  padding-top: 40px;
}
header ul {
  display: flex;
  gap: 43px;
}
header {
  background-color: #0a22f4;
}

nav a {
  color: white;
}
h1 {
  margin-top: 130px;
  margin-left: 240px;
}
.parent2 {
  display: flex;
}
.dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #0a22f4;
  opacity: 100%;
  border-radius: 50%;
}

.box {
  width: 1920px;
  opacity: 95%;
  pad: 40px;
}
.parent {
  margin-left: 240px;
  margin-top: 60px;
  display: flex;
  gap: 25px;
}
.servicebox1 {
  width: 70px;
  height: 70px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}
.servicebox2 {
  width: 70px;
  height: 70px;
  background-color: #0a22f4;
  margin-bottom: 40px;
}
.servicebox3 {
  width: 70px;
  height: 70px;
  background-color: #f9f9f9;
  margin-bottom: 40px;
}
h2 {
  margin-bottom: 20px;
}
